body {
    background: white;
    font-family: "Crimson Text", serif;
    font-size: 18pt;
}
p {
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: #ff00c8;
}
a:link {
    text-decoration: none;
    color: #ff00c8;
}
a:visited {
    text-decoration: none;
    color: #ff00c8;
}
a:hover {
    text-decoration: underline;
    color: #ff00c8;
}
a:active {
    text-decoration: underline;
    color: #ff00c8;
}

/* Remove underline on image link hover */
.imagelink {
    padding-left: 4px;
    padding-right: 4px;
}
.imagelink:hover {
    text-decoration: none;
}

.navlink {
    font-size: 18pt;
    color: black;
}
.navlink:link {
    color: black;
    text-decoration: none;
}
.navlink:visited {
    color: black;
}
.navlink:hover {
    color: black;
    text-decoration: underline;
}
.navlink:active {
    color: black;
}
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 60px; /* height of footer */
    background-color: white;
    border-top: solid 1px lavender;
    padding-top: 10px;
}
.footer img {  /* for social icons */
    opacity: .8;
}
.footer img:hover {  /* for social icons */
    opacity: 1;
}
.muted {
    font-style: italic;
    font-size: 12pt;
    font-color: #333333;
}
.panel-style {
    background-color: #fff;
}

#navigation {
    margin-right: auto;
    margin-left: auto;
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    letter-spacing: 1.75px;
}
#navigation-footer {
    font-size: 25pt;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
    letter-spacing: 1px;
    line-height: 22pt;
}
#content {
    margin-left: auto;
    margin-right: auto;
}